$accent: #e55733;

%hak-400 {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 400;
}
%int-400 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
%int-500 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
%ral-500 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
%ral-600 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
%ral-700 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
%ral-800 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

html {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  behavior: smoth;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}
